# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache

# Serverless directories
.serverless
.dynamodb
sample_data/*
!sample_data/copy_dynamodb_data.py

# Other
secrets.json
public_key
calendar-backend.public_key
venv
node_modules
.vscode/
__pycache__
