[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asn1crypto = "*"
certifi = "*"
cffi = "*"
chardet = "*"
cryptography = "*"
idna = "*"
pycparser = "*"
requests = "*"
six = "*"
ulid-py = "*"
urllib3 = "*"
PyJWT = "*"
boto3 = "*"

[dev-packages]
pytest = "*"
pytest-env = "*"

[requires]
python_version = "3.7"
